.product-box{
    border: 2px solid #001F3F;
    padding: 0.5rem;
    width: 12rem;
    height: 19rem;

    display: flex;
    flex-direction: column;
    gap: 0;

    position: relative;
}

.image {
    border: 1px solid grey;
    border-radius: 4px;
    width: 10rem;
}

.product-box h1 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 900;
    margin-top: 5px;
}

.product-box h3 {
    text-align: center;
    background-color: #001F3F;
    color: white;
    padding: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;

    position: absolute;
    bottom: 0;
    right: 0;
}

.product-box p {
    text-align: center;
    font-size: 0.75rem;
    font-weight: bolder; 
}

.cart {
    width: 2.25rem;
    background-color: orange;
    border-radius: 4px;
    transform: scaleX(-1);

    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
}

.selectedItem-box {
    border: 1px solid #001F3F;
    border-radius: 4px;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    margin: 0.5rem;
    width: 17rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.25rem;

    position: relative;
}

.remove-btn {
    background-color: rgb(187, 7, 7);
    color: white;
    font-weight: bolder;
    padding: 0 0.5rem;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;
}